<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$CONTENT_TITLE - 살림">살림</title>
  <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>

  <link th:href="@{/css/global.css}" rel="stylesheet"/>
  <link th:href="@{/css/member/auth.css}" rel="stylesheet"/>

  <th:block layout:fragment="styles"></th:block>
</head>
<body class="d-flex flex-column bg-white">
<div class="page page-center" th:classappend="${currentUri == '/signup'} ? 'page-signup'">
  <div class="container container-tight py-4">
    <div layout:fragment="content"></div>
  </div>
</div>

<th:block layout:fragment="scripts"></th:block>
</body>
</html>