<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Salim</title>
    <link href="/tabler/css/tabler.min.css" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <div class="container-xl py-4">
        <h1 class="mb-4">Salim 가계부</h1>
        <div class="row row-deck row-cards">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="subheader">이번 달 지출</div>
                        <div class="h1 mb-0">₩1,234,000</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="subheader">이번 달 수입</div>
                        <div class="h1 mb-0">₩3,000,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/tabler/js/tabler.min.js"></script>
</body>
</html>